<h1>Login was successful</h1>
<p>Username: {{userInfo.username}}</p>
<p>Firstname: {{userInfo.firstName}}</p>
<p>Lastname: {{userInfo.lastName}}</p>
<p>Profession: {{userInfo.profession}}</p> 
<p>Bio: {{userInfo.bio}}</p> 

<a href="/logout">Logout</a>      



