<h1>Person Found</h1>
<main class="dets"> 
    <dl>
  <dt>ID</dt>
  <dd>{{{y.id}}}</dd>
  <dt>First Name</dt>
  <dd>{{{y.firstName}}}</dd>
  <dt>Last Name</dt>
  <dd>{{{y.lastName}}}</dd>
  <dt>Address</dt>
  <dd>{{{y.address}}}</dd>
  <dt>Zip Code</dt>
  <dd>{{{y.zip}}}</dd>
  <dt>Phone</dt>
  <dd>{{{y.phone}}}</dd>
  <dt>Social Security Number</dt>
  <dd>{{{y.ssn}}}</dd>
</dl> 
</main>