<h1>People Found</h1>
<h2 >{{{personName}}}</h2>
<main >
    <ul>
        {{#each people}}
        <li > 
            <a href="/details/{{this.id}}" class="aTag">
                {{{this.firstName}}} {{{this.lastName}}}
            </a>
        </li>
        {{/each}}
    </ul>

    <a href="/" class="not">Make another Search</a>
</main>
 {{#if hasErrors}}
  <ul class="error-list">
   {{{error-list}}}
  </ul>
  {{/if}}